{% extends '../base.html' %}
{% load static %}




{% block content %}
<div class="slider-container">
    <div class="container-slider-image-full  ">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators d-none">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">                  
                <div class="carousel-item active banner-max-height " style=" height:550px">
                    <img class="d-block w-100" src="{% static './images/pgb6.png' %}" alt="First slide">
                    <div class="carousel-caption banner__slide-overlay d-flex h-100">
                        <div class="carousel__content">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 col-md-12 col-sm-12 text-center">
                                        <div class="slider__content-title " >
                                            <h3 data-animation="fadeInDown" data-delay=".2s" data-duration="1000ms"
                                                class="text-white animated fadeInDown">
                                                PG Projects</h3>
                                            <p data-animation="fadeInUp" data-delay=".4s" data-duration="1000ms"
                                                class="text-white animated fadeInUp">
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<!-- END CAROUSEL -->
<!-- END CAROSUEL -->
    


    <div class="clearfix"></div>

    <section>
        <div class="container">
            
            <div class="row">
                <div class="col-lg-8">
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tabs__custom-v2">
                                <!-- FILTER VERTICAL -->
                                
                                {% for project in project_list %}
                                
    
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="pills-tab-one" role="tabpanel"
                                        aria-labelledby="pills-tab-one">
                                        
                                        <div class="row">
                                           
                                            <div class="col-lg-12">
                                                <div class="card__image card__box-v1">
                                                    <div class="row no-gutters">
                                                        <div class="col-md-4 col-lg-3 col-xl-4">
                                                            <div class="card__image__header h-250">
                                                                <a href="{% url 'project_detail' project.pk %}">
                                                                    <div class="ribbon text-capitalize">{{ project.sales }}</div>
                                                                    {% load thumbnail %}
                                                                    <a href='{{ project.image.url}}'> 
                                                                        <img src="{% thumbnail project.image 400x400 %}" alt=""
                                                                        class="img-fluid w100 img-transition">
                                                                        <a/>
                                                                    
                                                                    <div class="info"> Now Selling </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                                            <div class="card__image__body">
                                                               
                                                                <h6>
                                                                    <a href="{% url 'project_detail' project.pk %}">{{ project.name }}</a>
                                                                </h6>
                                                                <i> Construction :</i>
                                                                <span
                                                                    class="badge badge-primary text-capitalize mb-2">{{ project.status }}</span>
                                                                <div class="card__image__body-desc">
                                                                    <!-- <p class="text-capitalize">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, alias!
    
                    </p> -->
                                                                    <p class="text-capitalize">
                                                                        <i class="fa fa-map-marker"></i>
                                                                        {{ project.location }}
                                                                    </p>
                                                                </div>
    
                                                                
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                                                            <div class="card__image__footer">
                                                                
                                                                <ul class="list-inline my-auto">
                                                                    <li class="list-inline-item name">
                                                                       
                                                                            Purpose:
                                                                        
    
                                                                    </li>
    
    
                                                                </ul>
                                                                <ul class="list-inline my-auto ml-auto price">
                                                                    <li class="list-inline-item ">
    
                                                                        <h6>{{ project.purpose }}</h6>
                                                                    </li>
    
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
    
                                        </div>
                                       
    
                                        <div class="cleafix"></div>
                                    </div>
    
                                </div>
                                {% endfor %}
                                <!-- END FILTER VERTICAL -->
                            </div>
                        </div>
                    </div>
                </div>
    
                
            </div>
    
           
    </section>
    <!-- END LISTING LIST -->


{% endblock content %}



