{% extends '../base.html' %}
{% load static%}
{% block title %}About Page {% endblock title %}

{% block content %}

<div class="slider-container">
    <div class="container-slider-image-full  ">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators d-none">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">                  
                <div class="carousel-item active banner-max-height " style=" height:550px">
                    <img class="d-block w-100" src="{% static './images/pgb6.png' %}" alt="First slide">
                    <div class="carousel-caption banner__slide-overlay d-flex h-100">
                        <div class="carousel__content">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 col-md-12 col-sm-12 text-center">
                                        <div class="slider__content-title " >
                                            <h3 data-animation="fadeInDown" data-delay=".2s" data-duration="1000ms"
                                                class="text-white animated fadeInDown">
                                                About PGHomes</h3>
                                            <p data-animation="fadeInUp" data-delay=".4s" data-duration="1000ms"
                                                class="text-white animated fadeInUp">
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<!-- END CAROUSEL -->
<!-- END CAROSUEL -->
    


    <div class="clearfix"></div>

 <!-- ABOUT -->
 <section class="home__about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title__leading">
                    <!-- <h6 class="text-uppercase">trusted By thousands</h6> -->
                    <h2 class="text-capitalize" >Our vision and Mission</h2>
                    <p> <strong>OUR VISION: </strong> To narrow the margin between house ownership and house needs by 
                        sharing awareness of the government provided mortgage loans and 
                        easily guiding our clients through every step of the way to becoming 
                        house owners. Thereby, becoming a world class provider of innovative 
                        housing solutions to curb housing deficit in Nigeria.
                    </p>
                    <p ><strong>OUR MISSION: </strong>
                        By ensuring the constant improvement of our workforce and delivery of 
                        efficient services, we are committed to work strictly in accordance with 
                        our core values and ensure long-term rewarding relationships with our 
                        clients while effectively meeting their needs.
                         
                    </p>
                    <a href="#" class="btn btn-primary mt-3 text-capitalize"> read more
                        <i class="fa fa-angle-right ml-3 "></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__image">
                    <div class="about__image-top">
                        <div class="about__image-top-hover">
                            <img src="{% static './images/pgb4.png'%}" alt="" class="img-fluid">
                        </div>

                    </div>
                    <div class="about__image-bottom">
                        <div class="about__image-bottom-hover">

                            <img src="{% static './images/pgb5.png'%}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END ABOUT -->


<!-- CALL TO ACTION -->
<section class="cta-v1 py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <h2 class="text-uppercase text-white">Thinking about buying but not sure where to begin?</h2>
                <p class="text-capitalize text-white"> Start by sheduling an advisory call.
                </p>

            </div>
            <div class="col-lg-3">
                <a href="#" class="btn btn-light text-uppercase ">Shedule A Call
                    <i class="fa fa-angle-right ml-3 arrow-btn "></i></a>
            </div>
        </div>
    </div>
</section>
<!-- END CALL TO ACTION -->
{% endblock content %}